html,body{
          margin: 0;
          background-image: url("Resources/img/NEe6LB.png");
          height: 0;
          background-size: cover;
         background-repeat: no-repeat;
        
          overflow: hidden;
         
        }
        p{
          color: white;
           font-family: "DM Serif Text";
        }
        

      .login{
       align-items: center;
       display: flex;
       flex-direction: column;
        
        }
     .FormDiv{
       background-color: gray;
       border-radius: 20px;
       position: absolute;
     align-items: center;
      background-color: rgba(255, 5, 80, 0.137); 
      backdrop-filter: blur(10px);  
        border: 3px solid rgba(255, 255, 255, 0.3);
        padding: 10px;
        top: 300px;
     }
     .container{
     
        display: flex;
        position: absolute;
        
        justify-content: center;
        
       height: 100vh;
       width: 100vw;



     }
      button{
      
        border-style: none;
        height: 30px;
        font-family: "DM Serif Text";
           border-radius: 5px;
           background-color: rgb(224, 0, 67);
      }
      h1{
          font-family: "DM Serif Text";
          color: rgb(210, 43, 43)	;

      }
        input{
border-radius: 5px;
border-style: none;
height: 30px;
        }
